<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .Table-Container{
            background-color: red;
            max-width: 832px;
            max-height: 682px;
            overflow: auto;
        }
        table{
            border-collapse: collapse;
            width: 100%;
        }
        th, td{
            border: 1px solid black;
            text-align: center;
            padding: 8px;
        }
        
        
    </style>

</head>
<body>
    <div class="Table-Container">
        <table>
            <tr>
                <th>Room No</th>
                <th>Subject Code</th>
                <th>Description</th>
                <th>Credits</th>
                <th>Section</th>
                <th>Instructor No</th>
                <th>Class Day</th>
                <th>Time</th>
            </tr>
            <tr>
                <td>101</td>
                <td>MATH101</td>
                <td>Introduction to Calculus</td>
                <td>3</td>
                <td>A</td>
                <td>12345</td>
                <td>Monday</td>
                <td>9:00 AM - 10:30 AM</td>
            </tr>
            <tr>
                <td>201</td>
                <td>ENG101</td>
                <td>English Composition</td>
                <td>3</td>
                <td>B</td>
                <td>67890</td>
                <td>Wednesday</td>
                <td>1:00 PM - 2:30 PM</td>
            </tr>
            <tr>
                <td>301</td>
                <td>PHY101</td>
                <td>Physics for Engineers</td>
                <td>4</td>
                <td>A</td>
                <td>13579</td>
                <td>Tuesday</td>
                <td>10:00 AM - 12:00 PM</td>
            </tr>
            <tr>
                <td>102</td>
                <td>CHEM101</td>
                <td>General Chemistry</td>
                <td>4</td>
                <td>C</td>
                <td>24680</td>
                <td>Thursday</td>
                <td>3:00 PM - 5:00 PM</td>
            </tr>
            <tr>
                <td>202</td>
                <td>HIS101</td>
                <td>World History</td>
                <td>3</td>
                <td>A</td>
                <td>98765</td>
                <td>Friday</td>
                <td>11:00 AM - 12:30 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
            <tr>
                <td>401</td>
                <td>CS101</td>
                <td>Introduction to Computer Science</td>
                <td>4</td>
                <td>B</td>
                <td>54321</td>
                <td>Monday</td>
                <td>1:30 PM - 3:00 PM</td>
            </tr>
        </table>
    </div>
</body>
</html>
